.p-btn {
  --color: var(--dark);
  --bgcolor: var(--bright);
  color: var(--color);
  background-color: var(--bgcolor);
  border: 0;
  height: 24px;
  padding: 0 0.5em;
  border: 2px solid var(--dark);
  box-shadow: 1px 1px 0 var(--dark),2px 2px 0 var(--dark);
}
.p-btn[kind="primary"] {
  --color: var(--bright);
  --bgcolor: var(--dark);
      font-weight: bold;
}
.p-btn[kind="danger"] {
  --bgcolor: var(--light-gray);
}
.p-btn:focus {
  outline: 0;
  box-shadow: 1px 1px 0 var(--dark),2px 2px 0 var(--dark), 1px 1px 0 5px var(--gray);
}
.p-btn:active {
  box-shadow: 0 0 0 4px var(--gray);
  margin: 1px -1px -1px 1px;
  padding-bottom: 2px;
}
.p-btn[size="small"] {
  height: 18px;
}
.p-btn[size="large"] {
  font-size: 20px;
  height: 32px;
}
.p-btn-group {
  display: inline-block;
  font-size: 0;
  word-spacing: -1px;
}
