.p-range {
  -webkit-appearance: none;
  cursor: ew-resize;
  height: 16px;
  margin: 0;
  overflow: hidden;
  vertical-align: middle;
}
.p-range:focus {
  outline: 4px solid var(--gray);
  outline-offset: 0px;
}

.p-range::-webkit-slider-runnable-track,.p-range::-moz-range-track {
  -webkit-appearance: none;
  height: 10px;
}
.p-range::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border: 2px solid var(--dark);
  background: var(--bright);
  box-shadow: 50vw 0 0 50vw rgba(255, 255, 255, 0.5);
  border-radius: 0;
}
.p-range::-moz-range-thumb{
  height: 12px;
  width: 12px;
  border: 2px solid var(--dark);
  background: var(--bright);
  box-shadow: 50vw 0 0 50vw rgba(255, 255, 255, 0.5);
  border-radius: 0;
}
.p-range::-webkit-slider-container,
.p-range::-webkit-media-slider-container,
.p-range{
  background: var(--dark);
}
