.p-combobox-wrapper {
  display: inline-block;
  --size: 5;
  position: relative;
}
.p-combobox-wrapper[disabled] .p-combobox-list {
  display: none;
}
.p-combobox-wrapper:not([multiple]) .p-combobox-list {
  min-width: 100%;
}
.p-combobox-wrapper:not([multiple]) .p-listbox {
  width: 100%;
}
.p-combobox-wrapper[disabled] * {
  pointer-events: none;
}

.p-combobox-input {
  width: 100%;
  padding-right: 1.5em;
}
.p-listbox,
.p-option {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.p-listbox {
  border: 2px solid var(--dark);
  min-width: 2em;
  float: left;
  height: calc(26px * var(--size));
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--bright);
}
.p-option {
  line-height: 26px;
  padding: 0 1em 0 0.4em;
}
.p-option:focus,
.p-option:hover {
  background-color: var(--light-gray);
  outline: 0;
  font-weight: bolder;
}

.p-combobox-list {
  position: absolute;
  z-index: 2;
  top: 100%;
  display: flex;
  margin-top: -2px;
}
.p-listbox + .p-listbox {
  margin-left: -2px;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #705a39;
}
.p-combobox-dropdown {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url(/img/arrow_down.320a8a3f.svg);
  background-size: 16px;
  background-position: center;
  vertical-align: middle;
  top: 0;
  right: 0;
  position: absolute;
  padding: 7px;
  box-sizing: border-box;
  pointer-events: none;
}
.p-combobox-wrapper[kind="dropdown"] .p-combobox-dropdown {
  border: 2px solid var(--dark);
  cursor: pointer;
  pointer-events: all;
}
.p-combobox-wrapper[kind="dropdown"] .p-combobox-dropdown:focus {
  outline: 4px solid var(--gray);
}

.p-combobox-wrapper[kind="dropdown"] .p-combobox-dropdown:hover {
  background-color: var(--light-gray);
}
.p-combobox-placeholder {
  color: var(--shadow);
}
