ul[role="menubar"] ul[role="group"] {
  padding-left: 0;
}
ul[role="menubar"] li[role="menuitemcheckbox"],
ul[role="menubar"] li[role="menuitemradio"] {
  text-indent: 1.6em;
  padding-right: 1em;
}
ul[role="menubar"] li[role="menuitemcheckbox"]:hover,
ul[role="menubar"] li[role="menuitemradio"]:hover,
ul[role="menubar"] li[role="menuitemcheckbox"]:focus,
ul[role="menubar"] li[role="menuitemradio"]:focus {
  outline: 2px solid rgba(0, 0, 0, 0.2);
  background: var(--light-gray);
}
ul[role="menubar"] li[role="menuitemcheckbox"][aria-checked="true"]::before {
  content: "";
  display: block;
  position: absolute;
  border: 2px solid var(--dark);
  border-top-width: 0;
  border-left-width: 0;
  height: 6px;
  width: 3px;
  transform: rotate(45deg);
  margin: 8px 9px;
}

ul[role="menubar"] li[role="menuitemradio"][aria-checked="true"]::before {
  content: "";
  display: block;
  position: absolute;
  border: 3px solid var(--dark);
  border-radius: 50%;
  margin: 10px 9px;
}
