.p-slider {
  display: inline-flex;
  margin: 0.5em 0;
  width: 150px;
}

.p-rail-label-min {
  text-align: right;
  vertical-align: middle;
  padding-right: 1em;
}

.p-rail-label-max {
  text-align: left;
  vertical-align: middle;
  padding-left: 1em;
}

.p-rail {
  border: 2px solid var(--dark);
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--light-gray),
    var(--light-gray) var(--min),
    var(--dark) var(--min),
    var(--dark) var(--max),
    var(--light-gray) var(--max),
    var(--light-gray)
  );
}
.p-slider-thumb {
  display: flex;
  flex-direction: column;
  width: 12px;
  height: 12px;
  background: var(--bright);
  border: 2px solid var(--dark);
  position: absolute;
  top: 0;
  margin: -2px -8px;
}
.p-slider-thumb:focus {
  outline: 4px solid var(--gray);
}
.p-slider-thumb-left {
  left: var(--min);
}
.p-slider-thumb-right {
  left: var(--max);
}
.p-slider-thumb:active:after {
  content: attr(aria-valuenow);
  align-self: center;
  color: var(--bright);
  font-weight: bold;
  margin-top: -2em;
  padding: 0.2em;
  min-width: 16px;
  background: var(--dark);
  text-align: center;
  border-radius: 2px;
}
