/* CSS Document */

.p-slider {
  clear: both;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

div.rail-label {
  padding-right: 0.5em;
  text-align: right;
  float: left;
  width: 4em;
  position: relative;
  top: -0.5em;
}

div.rail-label.max {
  padding-left: 0.5em;
  text-align: left;
}

.p-slider .rail {
  background-color: var(--light-gray);
  border: 2px solid var(--dark);
  position: relative;
  height: 12px;
  float: left;
}

.p-slider .rail.focus {
  background-color: #aaa;
}

.p-slider-thumb {
  display: block;
  width: 12px;
  height: 12px;
  margin: -2px;
  background: var(--bright);
  border: 2px solid var(--dark);
  position: absolute;
  left: 0;
  top: 0;
}
.p-slider-thumb:focus {
  outline: 4px solid var(--gray);
}
