.p-tablist {
  margin: 0 0 -2px;
  display: inline-flex;
  justify-content: space-between;
}

.p-tab {
  padding: 0.4em;
  border: 2px solid var(--dark);
  background: var(--light-gray);
  margin: 0 0.2em;
}

.p-tab:hover,
.p-tab:focus,
.p-tab[aria-selected="true"] {
  outline: 4px solid var(--gray);
}

.p-tab[aria-selected="true"]:not(:focus):not(:hover) {
  background: var(--bright);
  border-bottom-color: var(--bright);
  outline: 0;
  border-top-width: 2px;
}

.p-tabpanel {
  border: 2px solid;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.p-tabpanel[hidden] {
  display: none;
}

.p-tabpanel:focus {
  outline: 4px solid var(--gray);
  display: inline-flex;
}
