.p-input-file {
  vertical-align: middle;
  box-shadow: 0 0 0 2px var(--dark) inset;
  color: var(--shadow);
}
.p-input-file::-webkit-file-upload-button,
.p-input-file::-ms-browse {
  height: 24px;
  margin: 0;
  border: 2px solid var(--dark);
  background: var(--bright);
  text-indent: 0.4em;
  box-sizing: border-box;
}
.p-input-file:focus {
  outline: 4px solid var(--gray);
  outline-offset: 0;
}
.p-input-file-wrapper {
  display: inline-block;
  position: relative;
  height: 24px;
}
.p-input-file-wrapper span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
.p-input-file-wrapper .p-input-file {
  color: transparent;
}
.p-input-file-wrapper .p-input-file::-webkit-file-upload-button {
  opacity: 0;
}
input[type="file"] {
  cursor: pointer;
}
